<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan.lianxi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main1Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name="four.activity.ThreeActivity" />
        <activity android:name="four.activity.FourActivity" />
        <activity android:name="four.activity.FiveActivity" />
        <activity android:name="four.activity.SecondActivity" />
        <activity android:name=".Main5Activity" />
        <activity android:name="d.shuibo.LoginActivity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main7Activity" />
        <activity android:name="h.renwuka.RecentsActivity" />
        <activity android:name=".Main8Activity" />
        <activity android:name="i.activity.TwoActivity" />
        <activity android:name=".Main9Activity" />
        <activity android:name=".Main10Activity" />
        <activity android:name=".Main11Activity" />
        <activity android:name=".Main12Activity" />
        <activity android:name=".Main13Activity" />
        <activity android:name="m.main12.EasyUseActivity" />
        <activity android:name="m.main12.ListViewActivity" />
        <activity android:name="m.main12.ShareActivity" />
        <activity android:name="m.main12.BuilderActivity" />
        <activity android:name=".Main14Activity" />
        <activity android:name=".Main15Activity" />
        <activity android:name=".Main16Activity" />
        <activity android:name=".Main17Activity" />
        <activity android:name=".Main17aActivity" />
        <activity android:name=".Main18Activity" />
        <activity android:name=".Main19Activity" />
        <activity android:name=".Main20Activity" />
        <activity android:name="s.tubiao.Main20_aActivity" />
        <activity android:name="s.tubiao.Main20_bActivity" />
        <activity android:name="s.tubiao.Main20_b_aActivity" />
        <activity android:name="s.tubiao.Main20_b_bActivity" />
        <activity android:name=".Main21Activity" />
        <activity android:name=".Main22Activity" />
        <activity android:name=".Main23Activity" />
        <activity
            android:name=".Main24Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="chenjin.BannerActivity" />
        <activity android:name=".Main25Activity" />
        <activity android:name=".Main26Activity" />
        <activity android:name=".Main27Activity" />

        <service android:name="activity27.DownloadService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_file" />
        </provider>

        <activity android:name=".Main28Activity" />
        <activity android:name=".Main29Activity" />
        <activity
            android:name="s.tubiao.Main20_b_cActivity"
            android:label="@string/title_activity_main20_b_c"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="s.tubiao.Main20_b_dActivity" />
        <activity android:name=".Main30Activity"></activity>
    </application>

</manifest>